body{
    background-image: url(images/poker-table.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.player{
    height: 40%;
    width: 10%;
    /* background-color: black; */
    place-items: center;
    /* background-color: #f5f5f5; */
    /* border: 2px solid #ddd; */
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding-top: 0px;
}

.playerinfo{
    position: relative;
    top: -10%;
    z-index: -1;
    width: 150px;
}

.playerimg {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding-bottom: 0px;
    position: relative;
    z-index: 1;
}

.player h1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.player p {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

.infodiv {
    background-color: #000000b5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #b0b0b0;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}

#chips {
    height: 30px;
}
.info{
    text-align: center;
    /* background-color: red; */
}
.info p{
    font-size: 1.5em;
    color: #f4f4f4;
}
#p1 {
    position: fixed;
    top: 45%;
    right: 45%;
}
#p2 {
    position: fixed;
    top: 35%;
    right: 75%;
}
#p3 {
    position: fixed;
    top: 45%;
    right: 60%;
}
#p4 {
    position: fixed;
    top: 45%;
    right: 30%;
}
#p5 {
    position: fixed;
    top: 35%;
    right: 15%;
}

#dealer {
    position: absolute;
    top: 2%;
    right: 60%;
}
#roundinfo p {
    margin: -10vh;
}
#roundInfo {
    position: absolute;
    top: 2vh;
    left: 50vw;
    width: fit-content;
    height: 25vh;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.row_a {
    position: relative;
    top: -5vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.row_b {
    position: relative;
    top: -36vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#potImg {
    position: relative;
    width: 7vw;
    height: 15vh;
    top: -6vh;
}
#potAmount {
    position: relative;
    top: -7vh;
    font-size: 5vw;
    color: goldenrod;
}
#roundInfoParagraph {
    position: relative;
    color: goldenrod;
    font-size: 5vw;
    left: 1vw;
}

#deckd {
    position: absolute;
    top: 35%;
    left: 85%;
    z-index: 1;
}

#total {
    position: absolute;
    /* top: -330px; */
    top: -5%;
    left: 85%;
    z-index: 10;
    font-size: 5em;
    color: goldenrod;
}

.imageu-container {
    position: relative;
    display: inline-block; /* Ensures the container wraps around the image */
}

.imageu-container img {
    display: block; /* Remove extra space below the image */
}

.imageu-overlay {
    position: absolute;
    border-radius: 50%;
    padding-bottom: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkslategrey; /* Set your desired background color */
}

.action {
    width:300px;
    height: 60px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
}

#actionContainer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin-left: -2.5vw;
    z-index: 3;
}

#check {
    background-color: green;
}
#check:hover {
    background-color: lightgreen;
}
#fold {
    background-color: red;
}
#fold:hover {
    background-color: lightcoral
}
#raise, #allIn {
    background-color: yellow;
}
#raise:hover, #allIn:hover {
    background-color: rgb(241, 241, 184);
}
#raiseLabel:hover {
    background-color: lightgrey;
}
#raiseLabel {
    background-color: grey;
}
#cardContainer {
    position: absolute;
    top: 36%;
    left: 49%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
    gap: 10px;
}
.card {
    position: relative;
    justify-content: center;
    width: 5vw;
    height: auto;
}
.dcard {
    position: relative;
    justify-content: center;
    width: 2.5vw;
    height: auto;
}
.card img {
    width: 100%;
    height: 100%;
}
.playerCard {
    width: 25%; 
    height: auto; 
    border-radius: 0;
}
.i1 {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.i2 {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1vw;
}

.lbbbimg {
    position: relative;
    width: 2vw;
    display: none;
    float: right;
    margin-right: 10%;
    margin-top: -60px;
    z-index: 1000;
}

#handIMG {
    width: 4vw;
    display: inline-block;
    position: relative;
    top: 1vh;
}

.arrow {
    width: 1vw;
}

.inRound {
    color: rgb(57, 255, 57) !important;
    display: inline-block;
    position: relative;
    left: 0.25vw;
}

.endDisplay {
    position: fixed;
    inset: 0;
    width: 80%;
    height: 95%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto; 
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    /* padding-bottom: 130px; */
}

.close {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    cursor: pointer;
    font-size: 48px;
    background-color: red;
}

.closex {
    position: absolute;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
    font-size: 24px;
    background-color: red;
}

#displayCards {
    display: flex;
    gap: 0.5vw;
    justify-content: center;
    padding: 0.5%;
}

.endContent img {
    height: 12vh; 
    margin: 5px;
}

.endCardTop {
    height: 18vh;
}

.endCard {
    height: 12vh;
}

.rn {
    width: 80%;
    margin: 0 auto; 
    /* margin-left: 5%; */
    display: grid;
    grid-template-columns: 10% 7% 8% 55% 17% 15%;
    align-items: center;
    justify-content: center; 
    margin-bottom: 0.5%;
}

/* #r1 {
    display: flex;
}
#r2 {
    display: flex;
}
#r3 {
    display: flex;
}
#r4 {
    display: flex;
}
#r5 {
    display: flex;
} */

.ep1 {
    color: blue;
    font-size: 60px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    margin-top: 0; 
    margin-bottom: 0;
}
.ep2 {
    color: rgb(57, 255, 57);
    font-size: 60px;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 0; 
    margin-bottom: 0;
}
.ep3 {
    color: goldenrod;
    font-size: 60px;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 0; 
    margin-bottom: 0;
}

.imageRank {
    background-color: #45a049;
    height: 12vh;
    width: 12vh;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display:None;
    background-color: #0e0b16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.winner-container {
    background: linear-gradient(145deg, #0f0c29, #000000d4, #24243e);
    color: hsl(248, 51%, 47%);
    border: 2px solid #53354a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(69, 64, 232, 0.8);
    animation: neonGlow 1.5s infinite alternate;
    z-index: 20;
}

@keyframes neonGlow {
    from {
        box-shadow: 0 0 5px rgba(58, 43, 195, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgb(47, 210, 255);
    }
}

.winner-title {
    font-size: 2rem;
    margin: 0;
}

.winner-name {
    font-size: 3rem;
    margin: 10px 0;
    color: #f8d210;
    text-shadow: 0 0 10px rgba(248, 210, 16, 0.8);
}

#winnerContainer {
    display: None;
    width: 20vw;
}
#winnerImg {
    width: 10vw;
    background-color: #45a049;
}

.actionDisplay {
    position: absolute;
    top: 30px;
    font-size: 3em;
    z-index: 100;
    color: white;
    display: block;
    display: None;
}
#endButton {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#endButton:hover {
    background-color: #45a049;
}