body{
    background-image: url(images/poker-table.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.player{
    height: 250px;
    width: 150px;
    /* background-color: #f5f5f5; */
    /* border: 2px solid #ddd; */
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding-top: 0px;
}

.playerinfo{
    position: relative;
    top: -10%;
    z-index: -1;
    width: 150px;
}

.playerimg {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding-bottom: 0px;
    position: relative;
    z-index: 1;
}

.player h1 {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    color: #f4f4f4;
}

.player p {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

.infodiv {
    background-color: #000000b5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #b0b0b0;
    margin-top: -30px;
    position: relative;
    z-index: 2;
  }

#chips {
    height: 30px;
}
.info{
    text-align: center;
    /* background-color: red; */
}
.info p{
    font-size: 1.5em;
    color: #f4f4f4;
}
#p1 {
    position: fixed;
    top: 53%;
    right: 45%;
}
#p2 {
    position: fixed;
    top: 35%;
    right: 75%;
}
#p3 {
    position: fixed;
    top: 50%;
    right: 60%;
}
#p4 {
    position: fixed;
    top: 50%;
    right: 30%;
}
#p4Overlay {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}
#p5 {
    position: fixed;
    top: 35%;
    right: 15%;
}

#dealer {
    position: absolute;
    top: 2%;
    right: 50%;
}

#roundInfo {
    position: absolute;
    top: 2%;
    left: 50%;
    width: auto;
    height: 30vh;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 10px;
    padding-left: 2vw;
    padding-right: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#potImg {
    position: relative;
    width: 7vw;
    height: 15vh;
    top: -2vh;
}
#potAmount {
    /* position: relative;
    top: 10%;
    left: 35%; */
    position: relative;
    top: -7vh;
    /* top: 10%; */
    font-size: 5vw;
    color: goldenrod;

}
#roundInfoParagraph {
    position: relative;
    color: goldenrod;
    font-size: 5vw;
    left: 1vw;
}

.row_b {
    position: relative;
    top: -21vh;
}

#deckd {
    border-radius: 0;
    position: relative;
    top: -20%;
    left: 20%;
    z-index: 1;
}

.imageu-container {
    position: relative;
    display: inline-block; /* Ensures the container wraps around the image */
}

.imageu-container img {
    display: block; /* Remove extra space below the image */
}

.imageu-overlay {
    position: absolute;
    border-radius: 50%;
    padding-bottom: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkslategrey; /* Set your desired background color */
}

.action {
    width:300px;
    height: 60px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
}

#actionContainer {
    /* background-color: #f1f1f1; */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin-left: -2.5vw;
    z-index: 2;
    /* display: none; */
}

#check {
    background-color: green;
}
#check:hover {
    background-color: lightgreen;
}
#fold {
    background-color: red;
}
#fold:hover {
    background-color: lightcoral
}
#raise {
    background-color: yellow;
}
#allIn {
    background-color: yellow;
}
#raiseLabel:hover {
    background-color: lightgrey;
}
#raiseLabel {
    background-color: grey;
}

#cardContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30%;
}
.card {
    position: relative;
    left: -28.5px;
    width: 10vh;
    height: auto;
    margin-right: 10px;
}
.card img {
    width: 100%;
    height: 100%;
}
.playerCard {
    width: 25%; 
    height: auto; 
    border-radius: 0;
}
.i1 {
    display: inline-block;
}

.lbbbimg {
    width: 2vw;
    display: none;
}

#handIMG {
    width: 4vw;
    display: inline-block;
    position: relative;
    top: 1vh;
    /* display: none; */
}

.arrow {
    width: 1vw;
}

.inRound {
    color: rgb(57, 255, 57) !important;
    display: inline-block;
    position: relative;
    left: 0.25vw;
}

.endDisplay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Ensure the popup appears on top */
}

.endDisplay-content {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 100%; 
    margin: auto;
    padding: 20px;
    overflow: auto; 
    justify-content: center;
}

.close {
    position: absolute;
    bottom: 30px;
    right: 200px;
    cursor: pointer;
    font-size: 48px;
    background-color: red;
}

.closex {
    position: absolute;
    top: 10px;
    right: 10vw;
    cursor: pointer;
    font-size: 24px;
    background-color: red;
}

.endContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.endContent img {
    width: 8vw; 
    margin: 5px;
}

.endCard {
    height: 8vw;
    width: auto;
}

#r1 {
    display: flex;
}
#r2 {
    display: flex;
}
#r3 {
    display: flex;
}
#r4 {
    display: flex;
}
#r5 {
    display: flex;
}

.ep1 {
    color: blue;
    font-size: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0; 
    margin-bottom: 0;
}
.ep2 {
    color: rgb(57, 255, 57);
    font-size: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0; 
    margin-bottom: 0;
}
.ep3 {
    color: goldenrod;
    font-size: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0; 
    margin-bottom: 0;
}

.imageRank {
    background-color: #45a049;
}

#total {
    position: relative;
    top: -330px;
    z-index: 10;
    font-size: 5em;
    color: goldenrod;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display:None;
    background-color: #0e0b16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.winner-container {
    background: linear-gradient(145deg, #0f0c29, #000000d4, #24243e);
    color: hsl(248, 51%, 47%);
    border: 2px solid #53354a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(69, 64, 232, 0.8);
    animation: neonGlow 1.5s infinite alternate;
    z-index: 20;
}

@keyframes neonGlow {
    from {
        box-shadow: 0 0 5px rgba(58, 43, 195, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgb(47, 210, 255);
    }
}

.winner-title {
    font-size: 2rem;
    margin: 0;
}

.winner-name {
    font-size: 3rem;
    margin: 10px 0;
    color: #f8d210;
    text-shadow: 0 0 10px rgba(248, 210, 16, 0.8);
}

#winnerContainer {
    display: None;
}

.actionDisplay {
    position: absolute;
    top: 30px;
    font-size: 3em;
    z-index: 100;
    color: white;
    display: block;
    display: None;
}

